<!DOCTYPE html>
<html>
    <head>
        <title>Pippi</title>
        <link rel="stylesheet/less" type="text/css" href="/static/main.less" />

        <script> 
            less = { env: "development" }; 
        </script>

        <script src="/static/vendor/less.js/dist/less-1.3.3.min.js"></script>
        <script src="/static/vendor/jquery/jquery.min.js"></script>
        <script src="/static/main.js"></script>
    </head>

    <body>
        <div class="container">
            <pre>
            {{ data }}
            {{ tracks }}
            </pre>
            <div id="controls">
                <button id="regenerate-all">Regenerate All Blocks</button>
                <button id="move-tool">&#9757;</button>
            </div>

            <div id="timeline">
                <div class="track ruler"></div>
                {% block tracks %}
                    <div id="tracks">
                        {% include "timeline.html" %}
                    </div>
                {% endblock %}
            </div>

        </div>
    </body>
</html>
